extends layout

block content
  h1= title

  form(method='POST' action='/posts/submit')
    div.form-group
      label(for='title') Title:
      input#first_name.form-control(type='text' placeholder='Post Title' name='title' required='true')
      label(for='email') Email:
      input#email.form-control(type='email' placeholder='Email' name='email' required='true')
    div.form-group
      label(for='description') Description:
      textarea#description.form-control(type='text' placeholder='Blog description' name='description')
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg