doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      ul
        li
          a(href="/posts") List
        li
          a(href="/posts/submit") Add
    block content
